<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <h1 color= 'vermelho'> DH News</h1>
    <h2><b>Postado em 08/07/2021</b></h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fuga enim quaerat iusto adipisci soluta accusamus est impedit libero, illum omnis sint quod error et nesciunt doloribus, minus odit explicabo.</p>
        <img src="\img\destaque.webp">

    <h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, tempore maiores assumenda debitis laudantium necessitatibus inventore nam iure nesciunt maxime quam voluptatem veritatis qui in rerum impedit eius aperiam nisi?
    </h2>
    
</body>
</html>